/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2016, 7:15:08 AM
    Author     : Melissa Case
*/
@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');

body {
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 1em;
    background-color: lightgray;
    background-position: center;
    padding: 10px 40px 100px 40px;
    max-width: 90%;
}
header {
    background: transparent;
    padding: 40px 0px;
    max-width: 93%;
    margin: 0 auto;
    font-size: 1em;
    display: inline;
}
ul {
    margin: auto;
    width: 20%;
    text-align: center;
}
li {
    list-style-type: none;
    padding: 5px;
    margin: 1px;
    background-color: lightsteelblue;
    border: 2px double darkslategray;
    font-family: 'Cherry Cream Soda', cursive;
}

p, h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Cherry Cream Soda', cursive;
    text-align: center;
    padding: 10px;
}
input {
    height: 20px;
    width: 180px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

table{
    align-content: center;
    padding-left: 300px;
    font-size: 20px;
    border: cornflowerblue;
    border-radius: 10px;
}
td{
    border: 1px solid cornflowerblue;
    
}
label{
    background:lightgrey;
}