/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2016, 2:33:11 PM
    Author     : Melissa Case
*/

#shape {
    position: relative;
    width: 120px;
    height: 90px;
    text-align: center;
    padding-top: 50px;
    border-radius: 10px;
    color: white;
    
    
    -webkit-animation-name: moveshape;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    
    animation-name: moveshape;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
@-webkit-keyframes moveshape {
    0% {background: pink; left:0px; top:0px;}
    25% {background: cyan; left:0px; top: 100px;}
    50% {background: crimson; left:0px; top: 200px;}
    75% {background: chocolate; left:0px; top: 100px;}
    100% {background: gainsboro; left:0px; top: 0px;}
}
@keyframes moveshape {
    0% {background: pink; left:0px; top:0px;}
    25% {background: cyan; left:0px; top: 100px;}
    50% {background: crimson; left:100px; top: 100px;}
    75% {background: chocolate; left:100px; top: 000px;}
    100% {background: gainsboro; left:0px; top: 0px;}
}
